.row {
    
    &__b-margin-until-medium {
        margin-bottom: 1rem;
    }
    
    
    @mixin atMedium {
        &__b-margin-until-medium {
        margin-bottom: 0;
    }
    
        display: flex;

        &__medium-4 {
            width: 33.33%;
            
        }

        &__medium-4--larger {
            width: 37%;
        }

        &__medium-6 {
            width: 50%;
        }

        &__medium-8 {
            width: 66.66%;
        }

         &__medium-8--smaller {
            width: 63%;
        }

        &--gutters-large {
            margin-right: -100px;
        }

        &--gutters-large > div {
          padding-right: 100px;
        }

        &--gutters {
            margin-right: -65px;
        }

         &--gutters > div {
            padding-right: 65px;
        }
    }
}